In [1]:
from API import PySimFin

sf = PySimFin('b815e947-cd24-4a14-bfdd-bb2acd264d1f')

In [21]:
df = sf.get_share_prices("AMZN", "2025-03-12", "2025-03-12")
df.head()

2025-03-12 09:12:04,932 - INFO - Fetching share prices for AMZN from 2025-03-12 to 2025-03-12.
2025-03-12 09:12:05,991 - WARNING - No data available for AMZN from 2025-03-12 to 2025-03-12.

Empty DataFrame
Columns: []
Index: []

In [22]:
df1 = sf.get_financial_statement('AMZN', 'BS', "2024-01-01", "2024-12-31")
df1

2025-03-12 09:16:03,800 - INFO - Fetching financial statements for AMZN from 2024-01-01 to 2024-12-31

,template,name,id,ticker,currency,isin,statement_type,Fiscal Period,Fiscal Year,Report Date,...,Common Stock,Additional Paid in Capital,Other Share Capital,Treasury Stock,Retained Earnings,Other Equity,Equity Before Minority Interest,Minority Interest,Total Equity,Total Liabilities & Equity
0,GENERAL,AMAZON COM INC,62747,AMZN,USD,US0231351067,BS,Q1,2024,2024-03-31,...,109161989.0,1.040959e+11,None,-7837000000,124049000000,-3598000000,216661000000,None,216661000000,530969000000
1,GENERAL,AMAZON COM INC,62747,AMZN,USD,US0231351067,BS,Q2,2024,2024-06-30,...,110171386.0,1.104379e+11,None,-7837000000,137534000000,-3993000000,236447000000,None,236447000000,554818000000
2,GENERAL,AMAZON COM INC,62747,AMZN,USD,US0231351067,BS,Q3,2024,2024-09-30,...,109814716.0,1.160615e+11,None,-7837000000,152862000000,-1918000000,259151000000,None,259151000000,584626000000
3,GENERAL,AMAZON COM INC,62747,AMZN,USD,US0231351067,BS,Q4,2024,2024-12-31,...,NaN,NaN,None,-7837000000,172866000000,-34000000,285970000000,None,285970000000,624894000000

In [10]:
df2 = sf.get_general_data('AMZN')
df2

2025-03-12 00:05:45,002 - INFO - Fetching general data for AMZN

,id,name,ticker,sectorCode,industryName,sectorName,endFy,numEmployees,companyDescription,market,isin
0,62747,AMAZON COM INC,AMZN,103002,Consumer Cyclical,Retail - Apparel & Specialty,12,1298000,Amazon.com Inc is an online retailer. The Comp...,US,US0231351067